<nav class="nav">
  <h1><a routerLink="" class="logo">E-comm</a></h1>
  <div *ngIf="menuType!=='seller'" class="nav-search">
    <input type="text" #searchInput (keyup)="searchProduct($event)" (blur)="hideSearch()" placeholder="Search Products" />
    <button (click)="submitSearch(searchInput.value)">Search</button>

    <ul class="suggested-result" *ngIf="searchResult">
      <li *ngFor="let item of searchResult">
        <a (mousedown)="redirectToDetails(item.id)">{{item.name}}</a>
      </li>
    </ul>
  </div>

  <div [ngSwitch]="menuType" class="nav-links">
    <ul *ngSwitchCase="'default'" >
      <li><a routerLink="/seller-auth">Seller</a></li>
      <li><a routerLink="">Home</a></li>
      <li><a routerLink="/user-auth">Login/sign-up</a></li>
      <li><a routerLink="">Cart({{cartItem}})</a></li>
    </ul>
    <!--  -->
    <ul *ngSwitchCase="'user'">
      <li><a routerLink="/seller-auth">Seller</a></li>
      <li><a routerLink="">Home</a></li>
      <li><a routerLink="/user-auth">{{userName | titlecase}}</a></li>
      <li><a routerLink="my-orders">My Orders</a></li>
      <li><button class="btn btn-danger" (click)="userLogout()">Logout</button></li>
      <li><a [routerLink]="cartItem>0?'cart-page':null">Cart({{cartItem}})</a></li>
    </ul>
    <!--  -->
    <ul *ngSwitchCase="'seller'">
      <li><a routerLink="seller-add-product">Add Product</a></li>
      <li><a routerLink="/seller-home">List</a></li>
      <li><button class="btn btn-danger" (click)="logout()">Logout</button></li>
      <li><a routerLink="">{{sellerName | titlecase}}</a></li>
    </ul>
    <!--  -->
  </div>
</nav>
