/* You can add global styles to this file, and also import other style files */
body{
    font-family: sans-serif;
}
.container{
    margin-left: 5%;
    margin-right: 5%;
}

.common-form{
display: flex;
text-align: center;
margin: auto;
width: 300px;
flex-direction: column;
}

.form-input{
height: 35px;
margin-bottom: 20px;
padding-left: 10px;
border: 1px solid blueviolet;
color: blueviolet;
}

.form-button{
height: 35px;
border: 1px solid blueviolet;
cursor: pointer;
}

.error-p{
    color:  red;
}

.message-p{
color: green;
}

.carousel-caption{
    background-color: #00000082;
    border-radius: 5px;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
background-color: black;
border: 5px;

}

.invalid-input{
    color: red;
    font-size: 12px;
    margin-top:-20px ;
}

button:disabled{
    cursor: not-allowed;
}

.max-width{
    width: 100%;
  }
